= #link_to "", "http://www.hairbrasil.com.br", :class => "slide-hair-brasil"
= link_to "", "/produtos/essential#frizz-control-1l", :class => "slide-frizz-control"
= link_to "", "/produtos", :class => "slide-thanks-hairbrasil"