- @bg = "bg-empresa"
.conteudo.empresa
	.safe
		.bloco-esq-texto
			:markdown

				#### #{image_tag "empresa-title.png"}

				A Woop! Cosméticos é uma marca do segmento de beleza que chegou para revolucionar o setor de cosméticos, tornando-se preferência entre os mais renomados profissionais. Seu grande destaque se dá graças aos produtos de qualidade Premium, que são referência em alta tecnologia, pesquisa e qualidade.

				Por trás da marca Woop! está o grupo LWV, empresa atuante no mercado de beleza que conta com a experiência de 16 anos no setor de cosméticos, com valores que traduzem-se na contínua evolução e na dedicação para sempre ofertar produtos inovadores, e assim, atender as mais exigentes necessidades dos profissionais.

				O que torna a Woop! Única, é o fato de ser  uma marca que promove a beleza dos cabelos e bem-estar.
				Nossa missão é além de oferecer produtos de qualidade, se preocupar com a qualidade de vida das pessoas que fazem parte do nosso negócio.

				Prepare-se para o NOVO!