- @bg = "bg-distribuidor"
- @bg_size = 870
.conteudo
	.safe
		.span6
			:markdown

				#### #{image_tag "seja-um-distribuidor-title.png"}

				A Woop! Cosméticos É uma marca única, com padrão de qualidade internacional, que tem como parte de sua missão elevar o nível de todo o mercado através do constante desenvolvimento de produtos inovadores que ofereçam muito mais do que apenas um ótimo custo benefício e preços competitivos.
 
				Focada em uma única meta: a excelência de qualidade; a linha de produtos Woop! passa por diversas etapas até sua comercialização. Dispondo de laboratórios de desenvolvimento, controle de qualidade de matéria-prima e a realização de estudos para adequação de embalagem e transporte, o resultado final é um produto de alto desempenho.
				 
				Outro fator considerado durante a fabricação é o impacto ambiental e o cuidado com a natureza. A água utilizada na produção é tratada por Osmose Reversa, que é capaz de obter o maior indice de pureza.
				 
				Nosso sistema de logística é responsável pela administração dos produtos desde a saída da linha de produção até a entrega no destino final. Devido uma gestão eficaz e ágil e à qualidade no atendimento, os produtos da Woop! chegam ao cliente final com muito mais rapidez. Em nossa empresa todas as áreas trabalham em sinergia a fim de proporcionar eficiência e qualidade, além de, gerar a oportunidade para que cada parceiro possa alavancar seus negócios.Trabalhar com os produtos da linha Woop! significa ter apoio e assistência por meio de uma relação exclusiva. Venha fazer parte da nossa equipe!

			= link_to "Quero me tornar um distribuidor", "contato/Distribuidor", :class => "btn"